@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
}
#banner {
  background-image: url("/assets/images/illustration-authentication.svg");
  background-position: center;
  background-size: cover;
}